<%- include('../../Views/layouts/admin/header.ejs') %>
<div class="container">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <a href="/">Go Home</a>
</div>
<%- include('../../Views/layouts/admin/footer.ejs') %>